<div class="cartegory_top" style="text-align: center;">
<h1>Men_jeans</h1>
</div>


<div class="card_cartegory">
  <div class='row'>
 
    <div class='col-xl-3'>
      <div class="sjcard">
        <%= image_tag "main_men.jpg", class: "sjcard_img" %>
        <div class="sjcontainer">
          <h6><b>John Doe</b></h6>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>

 
    <div class='col-xl-3'>
      <div class="sjcard">
        <%= image_tag "main_men.jpg", class: "sjcard_img" %>
        <div class="sjcontainer">
          <h6><b>John Doe</b></h6>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>
    
 
    <div class='col-xl-3'>
      <div class="sjcard">
        <%= image_tag "main_men.jpg", class: "sjcard_img" %>
        <div class="sjcontainer">
          <h6><b>John Doe</b></h6>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>
    
 
    <div class='col-xl-3'>
      <div class="sjcard">
        <%= image_tag "main_men.jpg", class: "sjcard_img" %>
        <div class="sjcontainer">
          <h6><b>John Doe</b></h6>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>
    
 
    <div class='col-xl-3'>
      <div class="card">
        <%= image_tag "main_men.jpg", class: "card_img" %>
        <div class="container">
          <h6><b>John Doe</b></h6>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>

 
    <div class='col-xl-3'>
      <div class="sjcard">
        <%= image_tag "main_men.jpg", class: "sjcard_img" %>
        <div class="sjcontainer">
          <h6><b>John Doe</b></h6>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>
    
 
    <div class='col-xl-3'>
      <div class="sjcard">
        <%= image_tag "main_men.jpg", class: "sjcard_img" %>
        <div class="sjcontainer">
          <h6><b>John Doe</b></h6>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>
    
 
    <div class='col-xl-3'>
      <div class="sjcard">
        <%= image_tag "main_men.jpg", class: "sjcard_img" %>
        <div class="sjcontainer">
          <h6><b>John Doe</b></h6>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>
    
  </div>
</div>


<%= image_tag "logo_bottom.png", class: "logo_bottom" %>